@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

* {
  font-family: "IBM Plex Mono", monospace;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  padding: 0;
  margin: 15px 0px;
}
